<div class="contact-container">
	<h1>Contact Me</h1>
	<div class="row">
		<div class="col-lg-7">
			<form [formGroup]="contactForm">
				<div class="row">
					<div class="form-group col-lg-6 ">
						<label>First name</label>
						<div>
							<input pattern="[a-zA-Z]+" formControlName="firstName"/>
						</div>
					</div>
					<div class="form-group col-lg-6 ">
						<label>Second name</label>
						<div>
							<input type="text" formControlName="lastName"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-12">
						<label>Email</label>
						<div>
							<input type="email" formControlName="email"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-12">
						<label>Message</label>
						<div>
							<textarea rows="4" type="text" formControlName="message"></textarea>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" (click)="submit()">SEND MESSAGE</button>
			</form>
		</div>
		<div class="col-lg-4">
			<h1>TEST</h1>
		</div>
	</div>
</div>
