<div id="contact" class="contact-container">
	<ngx-ui-loader
		[fgsColor]="'#96bb7c'"
		[pbColor]="'#96bb7c'"
	></ngx-ui-loader>
	<h1>Contact Me</h1>
	<div class="row">
		<div class="col-lg-7">
			<form [formGroup]="contactForm">
				<div class="row">
					<div class="form-group col-lg-6 ">
						<label>First name</label>
						<div>
							<input pattern="[a-zA-Z]+" formControlName="firstName"/>
						</div>
					</div>
					<div class="form-group col-lg-6 ">
						<label>Second name</label>
						<div>
							<input type="text" formControlName="lastName"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-12">
						<label>Email</label>
						<div>
							<input type="email" formControlName="email"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-12">
						<label>Message</label>
						<div>
							<textarea rows="4" type="text" formControlName="message"></textarea>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" (click)="submit()">SEND MESSAGE</button>
			</form>
		</div>
		<div class="col-lg-4">
			<h4>Contact Info</h4>
			<ul>
				<li><i class="fa fa-map-marker"></i> Bangalore, India</li>
				<li><i class="fa fa-phone"></i> (+91) 9140743930</li>
				<li><i class="fa fa-envelope"></i> vishalmishraofficial95@gmail.com</li>
				<li>
					<i class="fa fa-linkedin"></i>
					<a href="https://www.linkedin.com/in/vishal-mishra-104623149/" target="_blank">
						https://www.linkedin.com/in/vishal-mishra-104623149/</a>
				</li>
				<li>
					<i class="fa fa-github"></i>
					<a href="https://github.com/vishal616" target="_blank"> https://github.com/vishal616</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="ending">
		Made with <i class="fa fa-heart" aria-hidden="true"></i> by ME !!!
	</div>

</div>
