<div class="contact-container">
	<form [formGroup]="contactForm">
		<label>First name</label>
		<div class="form-group">
			<input pattern="[a-zA-Z]+" formControlName="firstName"/>
		</div>
		<div class="form-group">
			<label>Second name</label>
			<input type="text" formControlName="lastName"/>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" formControlName="email"/>
		</div>
		<div class="form-group">
			<label>Message</label>
			<textarea type="text" formControlName="message"></textarea>
		</div>
		<button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
	</form>
</div>
