<div id="about" class="about-container row">
	<div class="dots"></div>
	<div class="col-lg-7">
		<img class="img" src="../../../assets/about-picture.jpg"/>
	</div>
	<div class="bio col-lg-5">
		<h1>My Bio</h1>
		<p>
			Hello! My name is Vishal and i am working as a full stack developer for the last two years.
			if you have stumbled upon on my website looking for a freelancer, look no where else!
		</p>

		<p>
			I have worked on various backend and frontend technologies,be it React, Angular, Java or
			node js, i have also dived deep into design aspect( UI/UX ) of website. I am a great
			fun loving person to work with and will be a good cultural fit for your organisation.
			so smash that HIRE ME button and let's talk.
		</p>
		<div class="skill-list">
			<div *ngFor="let skill of skillsList">
				<app-skill
					[skillName]="skill.name"
					[skillLevel]="skill.level"
				></app-skill>
			</div>
		</div>
		<div class="resume">
			<a class="btn btn-primary" href="#contact">HIRE ME</a>
<!--			<a class="btn btn-secondary" href="../../../assets/resume.pdf" target="_blank">DOWNLOAD CV</a>-->
			<a class="btn btn-secondary">DOWNLOAD CV</a>
		</div>
	</div>

</div>
