<div class="about-container row">
	<div class="dots"></div>
	<div class="img col-lg-6">
		<img class="img-fluid" src="../../../assets/about-picture.jpg"/>
	</div>
	<div class="bio col-lg-6">
		<h1>My Bio</h1>
		<p>
			Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
			blind
			texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
			ocean.
		</p>

		<p>
			Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
			blind
			texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
			ocean.
		</p>

	</div>
</div>
