.about-container {
	padding: 6rem;
	padding-left: 10rem;
	padding-right: 10rem;
	@media (max-width: 990px) {
		padding: 1rem;
	}
	.img {
		width: 100%;
		height: 100%;
	}
	.dots {
		display: none;
		@media (min-width: 990px) {
			display: block;
			z-index: -1;
			-webkit-transform: translate(40%,-20%);
			-ms-transform: translate(40%,-20%);
			transform: translate(40%,-20%);
			top: 130vh;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			content: "";
			width: 304px;
			height: 264px;
			background: url(../../../assets/dots.svg) right top;
		}
	}

	.bio {
		padding: 80px;

		@media (max-width: 990px) {
			margin-top: 10px;
			padding: 1rem;
		}

		.skill-list {
			margin-top: 50px;
		}

		.resume {
			margin-top: 100px;

			.btn {
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 30px;
				padding-right: 30px;
				border-radius: 30px;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: .05rem;
				background-color: #96bb7c;
				border: none;
				margin-right: 2.5px;
			}

			.btn.btn-primary:hover {
				border-color: #a1c289;
				background: #a1c289;
			}

			.btn-secondary {
				color: #fff;
				background-color: #6c757d;
				border-color: #6c757d;
			}

			.btn-secondary:hover {
				color: #fff;
				background-color: #5a6268;
				border-color: #545b62;
			}
		}
	}

	h1 {
		color: black;
	}
}
