.project-container {

	width: 15rem;
	height: 15rem;
	margin: 20px;

	@media (max-width: 550px) {
		width: 20rem;
		height: 20rem;
	}

	&:hover {
		cursor: pointer;
	}

	h1 {
		color: black;
	}

	img {
		height: 100%;
		width: 100%;
	}
}
