.project-container {

	width: 15rem;
	height: 15rem;
	transition: 0.5s;
	position: relative;
	border: 1px solid #96bb7c;
	border-radius: 3px;

	.img-overlay {
		display: none;
	}

	.img-text {
		display: none;
	}

	@media (max-width: 550px) {
		width: 20rem;
		height: 20rem;
	}

	&:hover {
		transform: scale(1.1);
		cursor: pointer;
		.img-overlay {
			position: absolute;
			background: black;
			height: 100%;
			width: 100%;
			top: 0;
			opacity: 0.5;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.75rem;
			flex-direction: column;
		}

		.img-text {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			text-align: center;
			font-size: 1.75rem;
			font-weight: bold;

			.type {
				font-size: 15px;
				color: #96bb7c;
				font-weight: bold;
			}
		}
	}

	h1 {
		color: black;
	}

	img {
		height: 100%;
		width: 100%;
		border-radius: 3px;
	}
}
