.project-container {

	width: 15rem;
	height: 15rem;
	margin: 20px;
	transition: 0.5s;
	position: relative;

	//.type {
	//	position: absolute;
	//	color: #96bb7c;
	//	opacity: 1;
	//	z-index: 100;
	//}
	.img-overlay {
		display: none;
	}

	@media (max-width: 550px) {
		width: 20rem;
		height: 20rem;
	}

	&:hover {
		transform: scale(1.1);
		cursor: pointer;
		.img-overlay {
			position: absolute;
			background: black;
			height: 100%;
			width: 100%;
			top: 0;
			opacity: 0.5;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.75rem;
			flex-direction: column;
		}
	}

	h1 {
		color: black;
	}

	img {
		height: 100%;
		width: 100%;
		border-radius: 3px;
	}
}
