.img-container {
	position: relative;
	img {
		height: 70vh;
		width: 100vw;
		@media (min-width: 576px) {
			height: 100vh;
		}
	}

	.img-layover {
		position: absolute;
		background-color: black;
		height: 70vh;
		width: 100vw;
		opacity: 0.7;
		@media (min-width: 576px) {
			height: 100vh;
		}
	}

}
