<div id="services" class="service-container">
	<h1>Services</h1>
	<div class="service-list row">
		<div class="service col-lg-3">
			<i class="fa fa-desktop"></i>
			<h6>Development</h6>
			<p>
				Developing Website, modules, complex applications, mobile apps for both ios
				& android from scratch
			</p>
		</div>
		<div class="service col-lg-3">
			<i class="fa fa-paint-brush"></i>
			<h6>Design</h6>
			<p>
				Developing logos, textures, website and wireframes from scratch
			</p>
		</div>
		<div class="service col-lg-3">
			<i class="fa fa-handshake-o"></i>
			<h6>Consultant</h6>
			<p>
				Mentoring junior developers, providing trainings on Data structures & algorithms
				& helping project roadblocks
			</p>
		</div>
	</div>
</div>
