<div class="service-container">
	<h1>Services</h1>
	<div class="service-list row">
		<div class="service col-lg-3">
			<i class="fa fa-desktop"></i>
			<h6>Development</h6>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since the 1500s</p>
		</div>
		<div class="service col-lg-3">
			<i class="fa fa-paint-brush"></i>
			<h6>Design</h6>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since the 1500s</p>
		</div>
		<div class="service col-lg-3">
			<i class="fa fa-handshake-o"></i>
			<h6>Consultant</h6>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since the 1500s</p>
		</div>
	</div>
</div>
