<div class="resume-container">
	<h1>Resume</h1>
	<div class="resume row">
		<div class="col-lg-4">
			<img class="img" src="../../../assets/about-picture.jpg"/>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-7">
			<h3>Work Experience</h3>
			<div class="job-list" *ngFor="let job of jobList">
				<app-job
					[job]="job"
				></app-job>
			</div>
			<h3 class="education-title">Education</h3>
			<div class="education-list" *ngFor="let education of educationList">
				<app-education
					[education]="education"
				></app-education>
			</div>
		</div>
	</div>
</div>
